# Virtual env and cache
venv/
__pycache__/
*.pyc

# Samples and binaries
samples/
data/*.exe
data/*.dll
data/*.zip
data/*.7z
data/*.pt
data/*.pkl

# Misc
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
*.log
*.env
